@media (min-width:768px){
  #nav{
    justify-content:flex-end;
    padding:25px 8vw;
    gap:30px;
  }

  .projects-grid{
    grid-template-columns:repeat(2,minmax(0,1fr));
  }

  section{
    padding:120px 8vw;
  }
}
